.aside-menu {
  padding: 109px 32px 0 43px;
  border-right: $border;

  @media(max-width: $tabletMedia) {
    padding: 80px 16px 0;
  }

  @media(max-width: $mobileMedia) {
    border-right: none;
    border-bottom: $border;
    padding: 8px 0;
    margin: 0 -16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @media(max-width: $mobileMedia) {
      flex-direction: row;
      gap: 16px;
      padding: 0 16px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: calc((14px * 4) / 100);
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    transition: color ease .3s;

    &:last-child {

      @media(max-width: $mobileMedia) {
        margin-left: auto;
        margin-right: 4px;
      }
    }

    &_current {
      color: $accentColor;
    }

    &:hover {
      color: $accentColor;
    }
  }
}