.form-block {
  
  &__title {
    margin: 0 0 48px;
    font-size: 24px;
    line-height: 1;

    @media(max-width: $tabletMedia) {
      margin: 0 0 40px;
    }

    @media(max-width: $mobileMedia) {
      font-size: 20px;
      margin: 0 0 32px;
    }
  }
}

.form-field {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 544px;

  @media(max-width: $mobileMedia) {
    gap: 8px;
  }

  &:not(.form-field:last-child) {
    margin-bottom: 26px;

    @media(max-width: $mobileMedia) {
      margin-bottom: 16px;
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(33, 36, 46, 0.4);
  }

  &__input {
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    backdrop-filter: blur(4px);
    background: #F7F7F7;
    padding: 16px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(33, 36, 46, 0.4);
    transition: color ease .3s;

    &::placeholder {
      color: inherit;
    }

    &:hover {
      color: $mainTextColor;
    }

    &:focus, &:focus-visible {
      border: 1px solid rgb(0, 0, 0);
    }
  }
}