.header {
  padding: 20px 0;
  border-bottom: $border;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.logo {
  transition: opacity ease .3s;

  img {
    width: 100%;
    display: block;
  }

  &:hover {

    img {
      opacity: 0.72;
    }
  }
}

.phone-block {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 1px;
  text-decoration: none;
  color: $accentColor;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: calc((14px * 4) / 100);
  text-transform: uppercase;
  stroke: $accentColor;
  transition: all ease .3s;

  &:hover {
    stroke: $mainTextColor;
    color: $mainTextColor;
  }
}

.personal-block {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 11px 0 9px;
  transition: all ease .3s;

  &__favor {
    stroke: $accentColor;

    &:hover {
      stroke: $mainTextColor;
    }
  }

  &__user {
    fill: $accentColor;

    &:hover {
      fill: $mainTextColor;
    }
  }
}

.menu-btn {
  background: transparent;
  border: none;
  padding: 0 6px;
  outline: none;
  position: relative;
  width: 20px;
  height: 7.5px;
  cursor: pointer;
  transition: all ease .3s;

  &::after {
    @include menuBtnLines;
    top: 0;
    left: 0;
  }

  &::before {
    @include menuBtnLines;
    bottom: 0;
    left: 0;
  }

  &:hover {

    &::before, &::after {
      background-color: $accentColor;
    }
  }
}