*{
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: $mainTextColor;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;

  &.no-scroll {
    overflow: hidden;
    padding-right: var(--widthScrollBar);

    @media(max-width: $mobileMedia) {
      padding-right: 0;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1237px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.icon {
  display: block;
  fill: inherit;
  stroke: inherit;
}

.phone-icon{
  width: 14px;
  height: 14px;
}
.heart-icon{
  width: 16px;
  height: 15px;
}
.user-icon{
  width: 12px;
  height: 14px;
}
.logo-icon {
  width: 100%;
  height: 100%;
}
.shevron-icon {
  width: 5px;
  height: 8px;
}
.heart-solid-icon {
  width: 22px;
  height: 18px;
}

.title {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  @media(max-width: $mobileMedia) {
    line-height: 1.1;
  }

  &_h1 {
    font-size: 80px;

    @media(max-width: $tabletMedia) {
      font-size: 50px;
    }

    @media(max-width: $mobileMedia) {
      font-size: 35px;
    }
  }
}

.section-title {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;

  @media(max-width: $tabletMedia) {
    font-size: 32px;
  }

  @media(max-width: $mobileMedia) {
    font-size: 28px;
  }

  &__color {
    color: $accentColor;
  }
}

.button {
  padding: 0;
  border: none;
  width: 231px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: $mainTextColor;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  transition: ease .3s;

  &:hover {
    background: $accentColor;
  }

  &:active {
    background: rgb(208 188 122 / 50%);
  }

  @media(max-width: $mobileMedia) {
    height: 48px;
    width: 100%;
  }
}