.out-slider {
  width: 100%;
  clip-path: inset(-100vw -100vw -100vw 0);
}
.swiper-products {
  overflow: initial;

  .swiper-wrapper {
    width: 100vw;
  }

}

.product-card {
  border: 1px solid transparent;

  &__top {
    position: relative
  }

  &__actions {
    position: absolute;
    top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;

  }

  &__label {
    border-radius: 100px;
    background: #eb5757;
    height: 28px;
    padding: 4px 12px 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
  }

  &__favorite {
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    fill: #e4e4e4;
    cursor: pointer;
    transition: fill ease .3s;

    &:hover {
      fill: rgba(33, 36, 46, 0.4);
    }

    &:active {
      fill: $accentColor;
    }
  }

  &__image {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }

  &__special {
    height: 12px;
    width: 100%;
    background: transparent;
  }

  &_color1 {

    .product-card__special {
      background: #C08D74;
    }
  }

  &_color2 {

    .product-card__special {
      background: #EA976F;
    }
  }

  &_color3 {

    .product-card__special {
      background: #C07474;
    }
  }

  &__bottom {
    padding: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: rgba(33, 36, 46, 0.8);
  }

  &__title {
    margin: 0;
    color: $mainTextColor;
    font-family: 'TimesNewRomanItalic', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }

  &__desc{
    margin: 0;
  }
  
  &__more{
    margin: 0;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    font-family: 'TimesNewRomanItalic';
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    font-style: italic;

    &-now {
      color: $mainTextColor;
    }

    &-old {
      color: rgba(33, 36, 46, 0.4);
      text-decoration: line-through;
    }
  }

  &:hover {
    border-color: rgba(33, 36, 46, 0.4);
  }
}