.products {
  padding: 112px 0;
  overflow-x: hidden;

  @media(max-width: $tabletMedia) {
    padding: 80px 0;
  }

  @media(max-width: $mobileMedia) {
    padding: 32px 0;
  }

  .container {
    padding-right: 0;
  }

  &__content {
    padding-left: 43px;
    position: relative;

    @media(max-width: $tabletMedia) {
      padding-left: 16px;
    }

    @media(max-width: $mobileMedia) {
      padding-left: 0;
    }
  }

  &__row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 48px;
    padding-right: 43px;

    @media(max-width: $tabletMedia) {
      padding-right: 16px;
    }

    @media(max-width: $mobileMedia) {
      margin-bottom: 32px;
      padding-right: 0;
    }
  }
}

.link-next {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 8px;
  color: inherit;
  stroke: $mainTextColor;
  transition: all ease .3s;

  @media(max-width: $mobileMedia) {
    display: none;
  }

  &_mobile {
    display: none;

    @media(max-width: $mobileMedia) {
      display: flex;
    }
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1.5px solid $mainTextColor;

    svg {
      margin-left: 1px;
    }
  }

  &:hover {
    color: $accentColor;
    stroke: $accentColor;

    span {
      border-color: $accentColor;
    }
  }
}