:root {
  --widthScrollBar: 17px;
}

$mainTextColor: #21242E;
$accentColor: #D0BC7A;
$border: 1px solid #EBEBEB;
$tabletMedia: 1024px;
$mobileMedia: 600px;

@mixin menuBtnLines {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $mainTextColor;
  rotate: 0deg;
}

@mixin headerActions {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}