$mainTextColor: #21242E;
$accentColor: #D0BC7A;
$border: 1px solid #EBEBEB;

@mixin menuBtnLines {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $mainTextColor;
}